
.navbar {
  background-color: #3f3f3f;
  color: #d5d5d5;
}

p {
  position:absolute;
  margin-top: -2.25rem;
  margin-left: 10rem;
  color: black;
  font-size: 20px;
  font-weight: 2.5rem;
  background-color: rgba(128, 128, 128, 0.651);
}
.navbar-brand {
  color: #159ae7dc;
  font-size: 30px;
  font-weight: 100px;
}
/* .navbar {
    padding: .10rem;
    background-color: #3f3f3f;
    color: #159ae7dc;
    width: 100%;  
  } */
  .navbar-nav li {
    padding-right: 20px;
    font-family: 'Tangerine', serif;
    font-size: 18px;
  }

  
.routerLink {
    font-size: 1.1em;
    
}  