<!--image slider-->
<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target=#slides data-slide-to="0" class="active"></li>
        <li data-target=#slides data-slide-to="1" ></li>
        <li data-target=#slides data-slide-to="2" ></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/images/architect.jpg">
            <div class="carousel-caption">
                <h1 class="display-2">CONSTRUCTION</h1>
                <h3>YOUR DREAM IS OUR DREAM NOW</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../assets/images/planning.jpg">
        </div>
        <div class="carousel-item">
            <img src="../assets/images/home.jpg">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">“Create with the heart; build with the mind.” “Proportion is the heart of beauty.” “It's creepy, but here we are, the Pilgrims, the crackpots of our time, trying to establish our own alternate reality.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a href="#"><button type="button" class="btn btn-outline-secondary btn-lg">Creation</button></a>
        </div>
    </div>
</div>    
<!--Welcome section-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Built with ease</h1>
        </div>
        <hr>
    </div>
</div>

<!--youtube video section-->

<div class="container-fluid padding">
    <div class="row padding">
        <div class="container-fluid" class="col-md-7 col-md-7">
             <p class="lead">"Have nothing in your home that you don't know to be useful or believe to be beautiful." —William Morris.</p>
             <p class="lead">"One should never be the oldest thing in one's house." —Patsy Stone.</p>
             <img width="500" height="200" src="../../assets/images/undraw_house_searching_n8mp.svg" alt="">
        </div>
        <div class="container-fluid" class="col-md-5 col-md-5">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="300" height="300" src="https://www.youtube.com/embed/h3E2SN8vuJs" frameborder="0" autoplay="1" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-7 col-md-7">
             <p class="lead">“Design is coming to grips with one's real lifestyle, one's real place in the world. Rooms should not be put together for show but to nourish one's well-being.” —Albert Hadley</p>
             <img width="500" height="270" src="../../assets/images/undraw_coming_home_52ir.svg" alt="">
        </div>
        <div class="col-md-5 col-md-5">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="300" height="300" src="https://www.youtube.com/embed/Rz5qPi0k1YQ" frameborder="0" autoplay="1"allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-2">SERVICES</h1>
        </div>
    </div>
</div>

<!--Three column section-->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fa fa-television fa-5x"></i>
            <h3>LAYOUT DESIGNING</h3>
            <p class="lead">We can provide a layout design or plan of your requirement or choice</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fa fa-building fa-5x"></i>
            <h3>CONSTRUCTION</h3>
            <p class="lead">We take construction contract based on the square feet values @ Reasonable price</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <i class="fa fa-handshake-o fa-5x"></i>
            <h3>INTERIOR DESIGNING</h3>
            <p class="lead">Interior Designs we got you covered !! check out our works in Interior section</p>
        </div>
    </div>
    <hr class="my-4">
</div>
<!--Two Column section-->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2>If you build it.....</h2>
            <p class="lead">“You can dream, create, design, and build the most wonderful place in the world. But it requires people to make the dream a reality.” – Walt Disney</p>
            <p class="lead">“We require from buildings two kinds of goodness: first, the doing their practical duty well: then that they be graceful and pleasing in doing it.” – John Ruskin</p>
            <br>
             <a href="#" class="btn btn-primary">Learn More</a>
        </div>
        <div class="col-lg-6">
            <img src="../assets/images/woman.jpg" class="img-fluid">
        </div>
    </div>
</div>
<hr class="my-4">
<!--Fixed background-->
<!--Meet the team-->
<div class="container-fluid padding">
<div class="row welcome text-center">
    <div class="col-12">
        <h1 class="display-4">Meet the Team</h1>
    </div>
</div>
</div>
<hr class="my-2">
<!--cards-->
<div class="container-fluid padding">
<div class="row padding">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="../assets/images/girl.jpg">
            <div class="card-body">
                <h4 class="card-title">Mary Joe</h4>
                <p class="card-text">Mary is an architect who can make your dream home live with his architect skills</p>
                <a href="#" class="btn btn-outline-secondary">See Profile</a>
            </div>
        </div>
    </div>    
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="../assets/images/pointing.jpg">
            <div class="card-body">
                <h4 class="card-title">Live Project</h4>
                <p class="card-text">Whole Team working on a Live project and executing the plan</p>
                <a href="#" class="btn btn-outline-secondary">See Profile</a>
            </div>
        </div>
    </div>   
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="../assets/images/Team.jpeg">
            <div class="card-body">
                <h4 class="card-title">Design Experts</h4>
                <p class="card-text">Featuring and enhancing the design projects for Interior works</p>
                <a href="#" class="btn btn-outline-secondary">See Profile</a>
            </div>
        </div>
    </div>   
</div>
<hr class="my-4">
</div>

<!--Connect-->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h2>Connect</h2>
        </div>
        <div class="col-12 social padding">
            <a href="https://www.facebook.com/onesquarebuilderz/"><i class="fa fa-facebook-official"></i></a>
            <a href="https://www.instagram.com/onesquarebuilderz/"><i class="fa fa-instagram"></i></a>
            <a href="https://www.twitter.com/1squarebuilderz"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/onesquarebuilders"><i class="fa fa-linkedin"></i></a>
            
        </div>
    </div>
</div>

<!--Footer-->
<footer class="footer">
<div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-md-4">
            <img src="../assets/images/logos.png">
            <hr class="light">
            <p>+91 90427 66543 / +91 99627 66543 / +91 94441 83252</p>
            <p>admin@onesquarebuilders.com</p>
            <p>16/19, 30th Street, Thillai Ganga Nagar, Nanganallur</p>
            <p>Chennai</p>
            <p>TamilNadu 600061</p>
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5>Our hours</h5>
            <hr class="light">
            <p>Monday to Saturday: 10:00 - 18:00</p>
            <p>Sunday: Holiday</p>
        </div>
        <div class="col-md-4">
            <hr class="light">
            <h5>Service Areas</h5>
            <hr class="light">
            <p>Chennai, TamilNadu</p>
        </div>
        <div class="col-12">
            <hr class="light-100">
        </div>
    </div>
</div>
</footer>