<div class="gallery">
    <div class="image-box active">
      <img src="../assets/images/CIVIL/CLIENTS/MR.SASIKUMAR, GUDUVANCHERY.jpeg">
    </div>
    <div class="image-box">
      <img src="../assets/images/CIVIL/CLIENTS/MR.SELVAMANI, MINAMBAKKAM.jpg">
    </div>
    <div class="image-box">
      <img src="../assets/images/CIVIL/CLIENTS/MR.BOOBALAN, KOSAPETTAI.jpeg">
    </div>
    <div class="image-box">
      <img src="../assets/images/CIVIL/CLIENTS/MR.KOILPILLAI, KUNDRATHUR.jpeg">
    </div>
</div>
