img {
  width: 30%;
  height: 30%;
  margin: calc(10%/6);
}

.circle {
  width: 30%;
  margin: calc(10%/6);
  height: 250px;
  background-color: #3f3f3f;;
  transition: 1s;
}

.circle:hover {
  background-color: blue;
  border-radius: 50%;
}

@media screen {
  
}