<div>
    <img  class="circle" src="../assets/images/CIVIL/CLIENTS/MR.SASIKUMAR, GUDUVANCHERY.jpeg"><img
    class="circle"  src="../assets/images/CIVIL/CLIENTS/MR.SELVAMANI, MINAMBAKKAM.jpg"><img 
    class="circle"  src="../assets/images/CIVIL/CLIENTS/MR.BOOBALAN, KOSAPETTAI.jpeg"><img
    class="circle"  src="../assets/images/CIVIL/CLIENTS/MR.KOILPILLAI, KUNDRATHUR.jpeg"><img
    class="circle"  src="../assets/images/CIVIL/CLIENTS/MR.KAMAL, VELACHERRY.jpeg"><img
    class="circle"  src="../assets/images/CIVIL/CLIENTS/MR.JENI BRANSON, KUNDRATHUR.jpeg">
</div>
