<button type="button" class="jumbotron" class="btn btn-outline-secondary btn-lg">Mr.CHOCKALINGAM, DEFENCE COLONY</button>
<div class="gallery">
  <div class="image-box active">
    <img src="../assets/images/INTERIOR/MR.CHOCKALINGAM, DEFENCE COLONY/DINNING.jpeg">
  </div>
  <div class="image-box">
    <img src="./assets/images/INTERIOR/MR.CHOCKALINGAM, DEFENCE COLONY/LIVING.jpeg">
  </div>
</div>

<button type="button" class="jumbotron" class="btn btn-outline-secondary btn-lg">MR.SARAVANAN, DEFENCE COLONY</button>
<div class="gallery">
  <div class="image-box">
    <img src="./assets/images/INTERIOR/MR.SARAVANAN, DEFENCE COLONY/WhatsApp Image 2019-04-24 at 12.39.16.jpeg">
  </div>
  <div class="image-box">
    <img src="./assets/images/INTERIOR/MR.SARAVANAN, DEFENCE COLONY/WhatsApp Image 2019-04-24 at 12.39.17 (1).jpeg">
  </div>
  <div class="image-box">
    <img src="../../assets/images/INTERIOR/MR.SARAVANAN, DEFENCE COLONY/WhatsApp Image 2019-04-24 at 12.39.17 (2).jpeg">
  </div>
  <div class="image-box">
    <img src="../../assets/images/INTERIOR/MR.SARAVANAN, DEFENCE COLONY/WhatsApp Image 2019-04-24 at 12.39.17.jpeg">
  </div>
  <div class="image-box">
    <img src="../../assets/images/INTERIOR/MR.SARAVANAN, DEFENCE COLONY/WhatsApp Image 2019-04-24 at 12.39.18.jpeg">
  </div>
  <div class="image-box">
    <img src="../../assets/images/INTERIOR/MR.SARAVANAN, DEFENCE COLONY/WhatsApp Image 2019-04-24 at 12.39.19 (1).jpeg">
  </div>
  <div class="image-box">
    <img src="../../assets/images/INTERIOR/MR.SARAVANAN, DEFENCE COLONY/WhatsApp Image 2019-04-24 at 12.39.19.jpeg">
  </div>
  <div class="image-box">
    <img src="../../assets/images/INTERIOR/MR.SARAVANAN, DEFENCE COLONY/WhatsApp Image 2019-04-24 at 12.39.20 (1).jpeg">
  </div>
</div>
<hr>
<button type="button" class="jumbotron" class="btn btn-outline-secondary btn-lg">MR.SIVA, NANGANALLUR</button>
<div class="gallery">
  <div class="image-box active">
    <img src="../../assets/images/INTERIOR/MR.SIVA, NANGANALLUR/WhatsApp Image 2018-08-13 at 08.32.20.jpeg">
  </div>
  <div class="image-box">
    <img src="../../assets/images/INTERIOR/MR.SIVA, NANGANALLUR/WhatsApp Image 2018-08-17 at 15.04.41.jpeg">
  </div>
</div>

<hr>

<div style="height: 10vh;">

</div>