<h3>Mr.CHOCKALINGAM, DEFENCE COLONY</h3>
<div class="gallery">
  <div class="image-box active">
    <img src="../assets/images/INTERIOR/MR.CHOCKALINGAM, DEFENCE COLONY/DINNING.jpeg">
  </div>
  <div class="image-box">
    <img src="./assets/images/INTERIOR/MR.CHOCKALINGAM, DEFENCE COLONY/LIVING.jpeg">
  </div>
  <div class="image-box">
    <img src="./assets/images/INTERIOR/MR.SARAVANAN, DEFENCE COLONY/WhatsApp Image 2019-04-24 at 12.39.16.jpeg">
  </div>
  <div class="image-box">
    <img src="./assets/images/INTERIOR/MR.SARAVANAN, DEFENCE COLONY/WhatsApp Image 2019-04-24 at 12.39.17 (1).jpeg">
  </div>
</div>

<br>

<h3>Mr.CHOCKALINGAM, DEFENCE COLONY</h3>
<div class="gallery">
  <div class="image-box active">
    <img src="../assets/images/INTERIOR/MR.CHOCKALINGAM, DEFENCE COLONY/DINNING.jpeg">
  </div>
  <div class="image-box">
    <img src="./assets/images/INTERIOR/MR.CHOCKALINGAM, DEFENCE COLONY/LIVING.jpeg">
  </div>
  <div class="image-box">
    <img src="./assets/images/INTERIOR/MR.SARAVANAN, DEFENCE COLONY/WhatsApp Image 2019-04-24 at 12.39.16.jpeg">
  </div>
  <div class="image-box">
    <img src="./assets/images/INTERIOR/MR.SARAVANAN, DEFENCE COLONY/WhatsApp Image 2019-04-24 at 12.39.17 (1).jpeg">
  </div>
</div>

<br>

<div style="height: 20vh;">

</div>